<!DOCTYPE html>
<html>
    <head>
        <title>{% block subtitle %}{% endblock subtitle %} :: ¿Quién va ganando?
        </title>

        <!-- agregar estilos (css) -->
    </head>

    <body>

        <div class="header">
            <h1>¿QUIÉN VA GANANDO?</h1>
            <!-- cosas del login -->
            <hr>
            <a href="{% url 'home' %}">Home</a>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Cerrar sesión</a>
            {% else %}
            <a href="{% url 'register_user' %}">Registrarse</a>
            <a href="{% url 'login' %}">Iniciar Sesión</a>
            {% endif %}
            <hr>
        </div>

        {% block content %}
        {% endblock content %}

    </body>

</html>