{% extends 'quienvaganando/base.html' %}

{% block subtitle %}Editar Participantes{% endblock subtitle %}

{% load crispy_forms_tags %}
{% block content %}

<h1 style="text-align: center;">Editar Participantes</h1>
<h3>Modifica el nombre de los participantes que desees</h3>
<div style="display: flex;">
<form method="post">
    {% csrf_token %}
    {{ form_editar | crispy }}
    {{ form_eliminar | crispy }}
    <button class="btn btn-info" name="Guardar" type="submit">Guardar Cambios</button>

</form>
</div>
{% endblock content %}