{% extends 'quienvaganando/base.html' %}

{% block subtitle %}Editar Participantes{% endblock subtitle %}

{% load crispy_forms_tags %}
{% block content %}
<head>
    <style>
    .alert {
        color: rgb(219, 33, 33);
    }
    .danger {
        border-width: 2px;
        border-style: solid;
        border-radius: 25px;
        border-color: rgb(219, 33, 33);
        padding: 10px;
        margin-bottom: 10px;
    }
    </style>
  
</head>
<body>
<a href="{% url 'overview_torneo' uuid_torneo %}" class="btn btn-outline-dark volver"><i class="fas fa-arrow-left"></i> Volver al Torneo</a>

<h1 style="text-align: center;">Editar Participantes</h1>

<h5 style="text-align: center; margin-top: 20px;">Modifica el nombre de los participantes que desees</h5>

<div style="display: flex; justify-content: center;">
<form method="post">
    {% csrf_token %}
    {{ form_editar.as_p }}

    <div class="danger">
        <h4 class="alert"><i class="fa-solid fa-triangle-exclamation"></i> ¡ZONA DE PELIGRO! </h4>
        {{ form_eliminar | crispy }}
    </div>

    <button class="btn btn-info" name="Guardar" type="submit">Guardar Cambios</button>
</form>
</div>

{% endblock content %}