{% extends 'quienvaganando/base.html' %}

{% block subtitle %}{{nombre}}{% endblock subtitle %}

{% block content %}

<h2>EL NOMBRE DEL TORNEO ES {{nombre}}!!</h2>



<table class="table">
    <thead>
      <tr>
        {% for head in header_tabla %}
        <th scope="col">{{head}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in datos_tabla %}
      <tr>
        {% for elem in row %}
        <td>{{elem}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  EVENTOS:
  {% for evento in eventos %}
  {{evento}}
  {% endfor %}



{% endblock content %}