{% extends 'quienvaganando/base.html' %}

{% block subtitle %}{{nombre}}{% endblock subtitle %}

{% block content %}


<body>
  
  <a href="{% url 'torneos' %}" class="btn btn-outline-dark volver"><i class="fas fa-arrow-left"></i> Lista de Torneos</a>
  <h2 style="font-family: 'DM Sans', sans-serif; text-align: center;" > {{  nombre}}</h2>


  <div class="row justify-content-md-center mt-3 mb-auto"> 
     
    <h4 class="text-primary-emphasis fs-3 ms-4 "  style="font-family: 'DM Sans', sans-serif;" > Tabla de puntajes</h4>

  </div>
  <div class="container-fluid">
    <div class="row mt-auto  ">
      <!-- Columna para la tabla -->
      <div class="col-7" style="font-family: 'DM Sans', sans-serif;">
        
        <table class="table ">
          <thead>
            <tr class="table-primary">
              {% for head in header_tabla %}
              <th scope="col" >{{head}}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in datos_tabla %}
            <tr>
              {% for elem in row %}
              <td class="fs-5" >{{elem}}</td>
              {% endfor %}
            </tr> 
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-5 "  style="font-family: 'DM Sans', sans-serif;">
        <h4 class="fw-bold  text-danger fs-2"  >EVENTOS:</h4>
        <ul class="list-group" style="width: max-content;">
          {% for evento in eventos %}
          <li class="list-group-item d-flex justify-content-between align-items-center;">
            {{ evento }}
            <button type="button" onclick="window.location.href='{% url 'overview_evento' uuid_torneo evento %}'" class="btn btn-info btn-sm">
              <i class="fas fa-eye fa-xs"></i>
            </button>
        </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</body>

{% endblock content %}